{% extends 'base.html' %}

{% block title %}Lista de Motoristas{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Lista de Motoristas</h1>
        
        <a href="{% url 'motoristas_add' %}" class="btn btn-primary mb-3">Novo Motorista</a>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for motorista in motoristas %}
                    <tr>
                        <td>{{ motorista.nome }}</td>
                        <td>{{ motorista.cpf }}</td>
                        <td>{{ motorista.telefone }}</td>
                        <td>
                            <a href="{% url 'motoristas_edit' motorista.id %}" class="btn btn-warning btn-sm">Editar</a>
                            <a href="{% url 'motoristas_delete' motorista.id %}" class="btn btn-danger btn-sm">Excluir</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
