{% extends 'base.html' %}

{% block title %}Desocupar Vaga{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Desocupar Vaga: {{ vaga.numero }}</h1>
        
        <form method="post">
            {% csrf_token %}
            
            <div class="mb-3">
                <p><b>Carro: </b> {{ vaga.veiculo.modelo }} - {{ vaga.veiculo.placa }}</p>
            </div>
            <div class="mb-3">
                <p><b>Motorista: </b> {{ vaga.motorista.nome }} - {{ vaga.motorista.cpf }}</p>
            </div>
            
            <button type="submit" class="btn btn-danger">Confirmar</button>
            <a href="{% url 'crud_veiculos' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
{% endblock %}
