<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Veículo</title>
</head>
<body>
    <h1>Ocupar vaga: {{vaga.numero}}</h1>
    <form method="post">
        {% csrf_token %}
        {%if error%}
            <p>Error {{error}}</p>
        {%endif%}
        <label>veiculo:</label><select name="veiculo" id="veiculo--">
            <option value="">--selecione um veiculo--</option>
            {%for veiculo in veiculos %}
                <option value="{{veiculo.id}}">{{veiculo.modelo}} -- {{veiculo.placa}}</option>
            {%endfor%}
          </select>
          <br>
          <br>
        <label>Cpf do motorista :</label><input type="text" name="cpf" required><br> <br>
        <button type="submit">Salvar</button>
        <a href="{% url 'crud_veiculos' %}"><button>Cancelar</button></a>
    </form>
</body>
</html>
