<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de vagas</title>
</head>
<body>
    <h1>Lista de Motoristas</h1>
    <table border="1">
        <thead>
            <tr>
                {% if vagas %}
                    <th>número</th>
                    <th>Placa do carro</th>
                    <th>motorista</th>
                    <th>Ações</th>
                {%else%}
                    <th>Vagas</th>
                {%endif%}
            </tr>
        </thead>
        <tbody>
           {%if vagas%}
                {% for vaga in vagas %}
                <tr>
                    <td>{{ vaga.numero }}</td>
                    {%if vaga.veiculo%}
                    <td>{{ vaga.veiculo.placa }}</td>
                    {%else%}
                    <td>Vaga disponível</td>
                    {%endif%}
                    <td>{{ vaga.motorista }}</td>
                    <td>
                        {%if vaga.veiculo and vaga.motorista%}
                            <a href="{% url 'vagas_desocupar'  vaga.numero%}"><button>Desocupar</button></a>
                        {%else%}
                            <a href="{% url 'vagas_ocupar' vaga.numero%}"><button>ocupar</button></a>
                        {%endif%}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {%else%}
            <tr>
                <td>Nenhuma vaga cadastrada</td>
            </tr>
            {%endif%}
    </table>
</body>
</html>
