{% extends 'base.html' %}

{% block title %}Atualizar Veículo{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Atualizar Veículo</h1>

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="placa" class="form-label">Placa:</label>
                <input type="text" class="form-control" name="placa" id="placa" value="{{ veiculo.placa }}" required>
            </div>
            <div class="mb-3">
                <label for="marca" class="form-label">Marca:</label>
                <input type="text" class="form-control" name="marca" id="marca" value="{{ veiculo.marca }}" required>
            </div>
            <div class="mb-3">
                <label for="modelo" class="form-label">Modelo:</label>
                <input type="text" class="form-control" name="modelo" id="modelo" value="{{ veiculo.modelo }}" required>
            </div>
            <div class="mb-3">
                <label for="cor" class="form-label">Cor:</label>
                <input type="text" class="form-control" name="cor" id="cor" value="{{ veiculo.cor }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>

        <a href="{% url 'crud_veiculos' %}" class="btn btn-secondary mt-3">Cancelar</a>
    </div>
{% endblock %}
